[submodule "skeleton-opt-pass/cmake/cmake-utils"]
	path = skeleton-opt-pass/cmake/cmake-utils
	url = https://github.com/compor/cmake-utils.git
[submodule "skeleton-opt-pass/cmake/sanitizers-cmake"]
	path = skeleton-opt-pass/cmake/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
